{% extends 'base_login.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<div id="contenedor-login-form" class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}

            
            <h1 class="h3 mb-3 font-weight-normal">Apothecae</h1>
            <label for="inputUsername" class="sr-only">Username</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder="Username" required autofocus>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>

            <input type="hidden" name="_csrf_token"
                value="{{ csrf_token('authenticate') }}"
            >

            <button class="btn btn btn-primary pull-right" type="submit">Ingresar</button>
        </form>
    </div>
</div>
{% endblock %}
