<footer class="footer">
    <div class="container-fluid">
        <div class="copyright float-right">
            &copy;
            2018, Innova Tecnolog&iacute;as C.A.
            All rights reserved.
        </div>
    </div>
</footer>